.contenedor{
	background-color: blue;
	/* display: flex; */ /* similar a block */
	display: inline-flex; /* similar a inline-block */
    /* flex-wrap: nowrap; */ /* por defecto */
    /* flex-wrap: wrap; */ /* multilinea */
    flex-wrap: wrap-reverse;
}

.item{
	background-color: #ccc;
	margin:10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	width: 150px;
}